.logo {
  width: 54px;
  height: 54px;
}
.flex-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 30px;
    height: 30px;
  }
}
