.login-form {
  background-color: #f9f9f9;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}
.login-form label {
  display: block;
  margin-bottom: 8px;
}
.success-pass-reset {
  width: 100%;
  margin: 20px 0;
  color: #45a049;
  font-size: 14px;
  text-align: center;
}
.login-form input:focus-visible {
  outline: none;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-form button {
  width: 100%;
  padding: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-form button:hover {
  background-color: #45a049;
}
.login-link {
  font-size: 14px;
  display: block;
  margin: 12px auto;
  width: 100%;
  transition: 0.3s color;
  text-align: center;
}
.login-link:hover {
  color: #3c3b3b;
}
.error {
  width: 100%;
  display: flex;
  padding: 6px 0;
  align-items: center;
  justify-content: center;
}
.error-text {
  font-size: 14px;
  color: red;
}
.register-button {
  font-size: 14px;
  font-weight: 500;
}
