.header {
  display: flex;
  padding: 10px 0;
  align-self: center;
  justify-content: space-between;
}
.header-wrapper {
  border-bottom: 2px solid rgba(210, 206, 206, 0.2);
}
.header nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
a {
  color: rgb(136, 136, 136);
}
.active {
  color: rgb(56, 56, 56);
  font-weight: 500;
}
